@charset "UTF-8";

:root{
    --cor1: black;
    --cor2: white;
    --cor3: blue; 
    --cor4: red;
}

*{
    margin:0;
    padding: 0;
}

body{
    background: var(--cor1) url(../image/fundo.jpg) center center no-repeat fixed
    ;
    background-size: cover;
}

header{
    background-color: var(--cor3);
}

.div-imagem-header{
    width: 10vw;
    display: inline-block;
    padding: 0px 10px 10px 10px;

}

.externa{
    width: 80vw;
    display: inline-block;
    position: relative;
}

.interna{
    position: absolute;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 9vh;
    padding-top: 20px;
}
p{
    text-align: center;
    padding-bottom: 20px;
}


main{
    background-color: rgba(211, 211, 211, 0.575);
    max-width: 90vw;
    min-width: 300px;
    margin: auto;
}


.container{
    display: flex;
    overflow-x: auto;
}

.container img{
    margin-right: 15px;
}

.container::-webkit-scrollbar{
    display: none;
}

footer{
    background-color: black;
}