@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root{
    --cor1: black;
    --cor2: white;
    --cor3: blue; 
    --cor4: red;
}

*{
    margin:0;
    padding: 0;
}

body{
    background: var(--cor1) url(../image/fundo.jpg) center center no-repeat fixed
    ;
    background-size: cover;
}

header{
    background-color: var(--cor3);
}

h1{
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    font-family: lato;
    font-weight: bold;
}
p{
    text-align: center;
    padding-bottom: 20px;
    font-family: Lato;
}


main{
    background-color: rgba(211, 211, 211, 0.575);
    max-width: 90vw;
    min-width: 300px;
    margin: auto;
}


.container{
    display: flex;
    overflow-x: auto;
}

.container img{
    margin-right: 15px;
}

.container::-webkit-scrollbar{
    display: none;
}

footer{
    background-color: black;
}