@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root{
    --cor1: black;
    --cor2: white;
    --cor3: #3D55DC; 
    --cor4: rgb(233, 21, 21);
    --cor5: #d3d3d393;
    --cor6: #3B84D9;
    --cor7: rgb(231, 231, 13);
}

*{
    margin:0;
    padding: 0;
}

body{
    background: var(--cor1) url(../image/fundo.jpg) center center no-repeat fixed
    ;
    background-size: cover;
}

header{
    background-color: var(--cor4);
}

.h1-header{
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    font-family: lato;
    font-weight: bold;
    color: var(--cor3);
    text-shadow:
        -1px -1px 0 var(--cor2),
        1px -1px 0 var(--cor2),
        -1px 1px 0 var(--cor2),
        1px 1px 0 var(--cor2);
}
p.p-header{
    text-align: center;
    padding-bottom: 20px;
    font-family: Lato;
}

.p-header{
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 
        -1px -1px 0 var(--cor2),
        1px -1px 0 var(--cor2),
        -1px 1px 0 var(--cor2),
        1px 1px 0 var(--cor2);
        }


main{
    background-color: var(--cor5);
    max-width: 1300px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.h1-main{
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
    font-family: lato;
    font-weight: bold;
    color: var(--cor4);
    text-shadow:
        -1px -1px 0 var(--cor7),
        1px -1px 0 var(--cor7),
        -1px 1px 0 var(--cor7),
        1px 1px 0 var(--cor7);

}

.h2-acougue, .h2-main{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 10px;
   font-size: 1.8em;
   font-weight: bold;
   color: var(--cor3);
       text-shadow: 
        -1px -1px 0 var(--cor2),
        1px -1px 0 var(--cor2),
        -1px 1px 0 var(--cor2),
        1px 1px 0 var(--cor2);
   
}

.mais-acougue, .mais-ofertas-link{
    text-align: right;
    text-decoration: none;
    color: var(--cor1);
    display: block;
    margin-right: 10px;
}

.mais-acougue:hover, .mais-ofertas-link:hover{
    text-decoration: underline; 
}

.container{
    display: flex;
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.container img{
    margin-right: 15px;
}

.container::-webkit-scrollbar{
    display: none;
}

footer{
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px;
    text-align: center;
}